// lyric-only mode

body.lyric-only {
	.n-single > .wrap > *:not(.lyric) {
		visibility: hidden;
		pointer-events: none;
	}
	.n-single > .wrap > .lyric {
		left: 60px;
		width: calc(100% - 100px);
		top: 0;
		height: unset;
		bottom: clamp(30px, 5%, 60px);
	}
	.m-fm > .g-play {
		visibility: hidden;
		pointer-events: none;
	}
	.m-fm .lyric {
		left: 5%;
		width: 90%;
	}
}

// song-info only mode

body.song-info-only {
	.n-single > .wrap > .content {
		width: 100%;
		max-width: 100%;
	}
	.n-single > .wrap > .lyric {
		visibility: hidden;
		pointer-events: none;
	}
	&.horizontal-align-center {
		.n-single > .wrap > .content {
			width: 100%;
			max-width: 100%;
			> *, > * > * {
				margin-left: 0;
				padding-left: 0;
			}
		}
	}
	.m-fm .lyric {
		visibility: hidden;
		pointer-events: none;
	}
	.m-fm > .g-play {
		width: 90%;
	}
}


// center lyric (only for lyric-only mode)

body.lyric-only.center-lyric {
	.rnp-lyrics {
		display: flex;
		justify-content: center;
		text-align: center;
		margin-left: 0;
		.rnp-interlude-inner {
			transform-origin: center !important;
		}
		.rnp-lyrics-line {
			transform-origin: center !important;
		}
	}
}
