.rnp-lyrics {
	width: calc(100% - 10px);
	height: 100%;
	position: relative;
	overflow: hidden;	
	-webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 3%, rgba(0,0,0,1) 97%, rgba(0,0,0,0) 100%);
	color: var(--rnp-accent-color-shade-2);
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}
.g-singlec[data-log*='"s_ctype":"voice"'] .rnp-lyrics { // 在播客界面隐藏
	display: none;
}


.rnp-lyrics-switch {
    position: absolute;
    right: -28px;
    width: 20px;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
	transition: opacity .25s ease;
	.rnp-lyrics-switch-btn {
		background-color: rgba(var(--rnp-accent-color-rgb), 0.3);
		color: var(--rnp-accent-color-on-primary);
		color: #fff;
		border: none;
		font-size: 14px;
		margin-top: 5px;
		border-radius: 4px;
		padding: 3px;
		writing-mode: vertical-lr;
		width: 20px;
		box-sizing: border-box;
		transition: background-color .2s ease, color .2s ease;
		&.active {
			background-color: rgba(var(--rnp-accent-color-rgb), 0.8);
			color: var(--rnp-accent-color-on-primary);
		}
		&.unavailable {
			opacity: .1;
		}
	}
}
.lyric:not(:hover) .rnp-lyrics-switch {
	opacity: 0;
}



.rnp-lyrics-line {
	position: absolute;
	transform-origin: left center;
	transition: transform 0.5s ease, filter 0.5s ease;
	will-change: transform, filter;
}
.rnp-lyrics-line {
	.rnp-lyrics-line-karaoke, .rnp-lyrics-line-original {
		font-weight: 600;
	}
    max-width: calc(100% - 10px);
	$idle-opacity: 0.4;
	&[offset='0'] > div{ 
		opacity: 0.8;
		&.rnp-lyrics-line-karaoke {
			opacity: 1;
			.rnp-karaoke-word {
				opacity: 1;
				transform: translateY(-2px);
				transition-property: opacity, transform;
				transition-timing-function: linear, ease;
			}
		}
		&.rnp-lyrics-line-original {
			opacity: 1;
		}
	}
	&:not([offset='0']) > div{
		opacity: $idle-opacity;
		&.rnp-lyrics-line-karaoke {
			opacity: 1;
			.rnp-karaoke-word {
				transition-property: opacity, transform;
				opacity: $idle-opacity;
				transform: translateY(0);
			}
		}
		&.rnp-lyrics-line-romaji {
			opacity: $idle-opacity * 0.8;
		}
	}
	> div {
		transition: opacity 0.5s ease;
		transition-delay: inherit;
		&:not(:last-child) {
			margin-bottom: 0.3em;
		}
		&.rnp-lyrics-line-romaji {
			font-size: 0.6em;
			margin-bottom: 0.4em;
			opacity: .8;
		}
	}
	.rnp-karaoke-word {
		display: inline-block;
		&.end-with-space:not(:last-child) {
			margin-right: 0.25em;
		}
		&.is-cjk.end-with-space:not(:last-child) {
			margin-right: 0.5em;
		}
	}
	.rnp-lyrics-line-karaoke.force-refresh > .rnp-karaoke-word {
		transition: all 0s !important;
		opacity: 0.4 !important;
		transform: translateY(0) !important;
	}


	// Interlude Dots	
	&[offset='0'] > div{ 
		.rnp-interlude-dot {
			opacity: 0.9;
			transform: scale(1);
			transition-property: opacity, transform;
			transition-timing-function: linear, ease;
		}
	}
	&:not([offset='0']) > div{
		.rnp-interlude-dot {
			opacity: 0.2;
			transform: scale(0.9);
		}
	}
	&.rnp-interlude {
		height: 0;
		overflow: visible;
		pointer-events: none;
		.rnp-interlude-inner {
			animation-name: breath;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			transform-origin: left;
			&.pause-breath {
				animation-play-state: paused;
			}
		}
		.rnp-interlude-inner {
			opacity: 0;
			transition: opacity .5s ease;
		}
		&[offset='0'] {
			.rnp-interlude-inner {
				transition-delay: .5s;
				opacity: 1;
			}
		}
		.rnp-interlude-dot {
			display: inline-block;
			width: 0.7em !important;
			height: 0.7em !important;
			aspect-ratio: 1/1;
			border-radius: 100%;
			margin-right: 0.5em;
			background-color: var(--rnp-accent-color-shade-2);
		}
		.force-refresh > .rnp-interlude-dot {
			transition: all 0s !important;
			opacity: 0.2 !important;
			transform: scale(0.9) !important;
		}
		@keyframes breath {
			0% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.1);
			}
			100% {
				transform: scale(1);
			}
		}
	}
}
.rnp-lyrics.scrolling .rnp-interlude-inner {
	opacity: 0 !important;
	transition: opacity .5s ease !important;
	transition-delay: 0s !important;
}

.rnp-lyrics:not(.pure-music) .rnp-lyrics-line {
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: -5px;
		top: -10px;
		right: -5px;
		bottom: -10px;
		border-radius: 10px;
		background-color: #fff;
		opacity: 0;
		z-index: 0;
		transition: opacity .2s ease;
	}
	&:hover::before {
		opacity: 0.08;
	}
}

.rnp-lyrics-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 8px;
	.rnp-lyrics-scrollbar-thumb {
		position: absolute;
		right: 0;
		width: 100%;
		background-color: #ffffff;
		opacity: .2;
		border-radius: 100px;
		transition-property: top, opacity;
		transition-timing-function: ease;
		transition-duration: .5s, .25s;
		&:hover, &.dragging {
			opacity: .6 !important;
		}
		&.no-scroll {
			opacity: 0 !important;
			pointer-events: none;
		}
	}
}
.lyric:not(:hover) .rnp-lyrics-scrollbar-thumb {
	opacity: 0;
}

