.rnp-lyrics {
	width: 100%;
	height: 100%;
	border: #ffffff66 solid 1px;
	position: relative;
	//overflow: hidden;
}

.rnp-lyrics-switch {
    position: absolute;
    right: -28px;
    width: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
	.rnp-lyrics-switch-btn {
		background-color: #ffffff33;
		color: #fff;
		border: none;
		font-size: 14px;
		margin-top: 5px;
		border-radius: 4px;
		padding: 3px;
		writing-mode: vertical-lr;
		transition: background-color .2s ease, color .2s ease;
		&.active {
			background-color: #ffffffff;
			color: #000;
		}
	}
}



.rnp-lyrics-line {
	position: absolute;
	transform-origin: left top;
	transition: transform 0.5s ease;
}
.rnp-lyrics-line {
	$idle-opacity: 0.4;
	&[offset='0'] > div{ 
		opacity: 0.8;
		&.rnp-lyrics-line-karaoke {
			opacity: 1;
			.rnp-karaoke-word {
				opacity: 1;
				transform: translateY(-2px);
				transition-property: opacity, transform;
				transition-timing-function: linear, ease;
			}
		}
		&.rnp-lyrics-line-original {
			opacity: 1;
		}
	}
	&:not([offset='0']) > div{
		opacity: $idle-opacity;
		&.rnp-lyrics-line-karaoke {
			opacity: 1;
			.rnp-karaoke-word {
				opacity: $idle-opacity;
				transform: translateY(0);
			}
		}
		&.rnp-lyrics-line-romaji {
			opacity: $idle-opacity * 0.8;
		}
	}
	> div {
		transition: opacity 0.5s ease;
		&:not(:last-child) {
			margin-bottom: 0.3em;
		}
		&.rnp-lyrics-line-romaji {
			font-size: 0.6em;
			margin-bottom: 0.4em;
			opacity: .8;
		}
	}
	.rnp-karaoke-word {
		display: inline-block;
		&.end-with-space:not(:last-child) {
			margin-right: 0.25em;
		}
	}
	.rnp-lyrics-line-karaoke.force-refresh > .rnp-karaoke-word {
		transition: all 0s !important;
		opacity: 0.4 !important;
		transform: translateY(0) !important;
	}
}