body.material-you-theme.mq-playing:not(.ignore-now-playing),
body.refined-control-bar.mq-playing:not(.material-you-theme) {
	#main-player {
		background-color: transparent !important;
	}
	&:not(.bottombar-hover):not(.mq-playing-scroll):not(.always-show-bottombar) {
		#main-player > .brt {
			opacity: 0 !important;
		}
	}
	&.mq-playing .m-player {
		.btnp {
			transition: background-color .25s ease;
		}
		.prg-spk {
			box-shadow: none;
			background: #00000015;
			backdrop-filter: blur(36px);
			border-radius: 100px;
		}
		.prg-spk::before {
			display: none;
		}
		.prg-spk::after {
			display: none;
		}
		.prg-spk .track::before {
			background: rgba(var(--rnp-accent-color-rgb), 0.1);
		}
		.prg-spk .has::before {
			background: var(--rnp-accent-color);
		}
		.prg-spk .ctrl {
			background-color: var(--rnp-accent-color);
		}
		.brt .brttext.vip {
			color: var(--rnp-accent-color);
			border-color: var(--rnp-accent-color);
		}
	}
	


	#main-player, .m-pinfo .btns > .btn,
	#main-player > .btnp, .md-time-indicator, #rnp-time-indicator {
		transition: transform .3s ease, opacity .3s ease !important;
		will-change: transform, opacity;
	}
	.md-time-indicator, #rnp-time-indicator {
		transition: transform .3s ease, opacity .3s ease, right .3s ease !important;
	}
	&:not(.bottombar-hover):not(.mq-playing-scroll):not(.always-show-bottombar).rnp-idle {
		&:not(.rnp-bottom-progressbar) {
			#main-player, .m-pinfo .btns > .btn{
				transform: translateY(calc(var(--bottombar-height) - 5px));
			}
			.m-pinfo .btns > .btn-love {
				transform: translateY(0) !important;
			}
			#main-player > .btnp, .md-time-indicator, #rnp-time-indicator {
				transform: translateY(calc(-50% + 5px - var(--bottombar-height)));
			}
		}
		&.rnp-bottom-progressbar {
			#main-player .btnc {
				opacity: 0;
			}
		}
	}
	&:not(.bottombar-hover):not(.mq-playing-scroll):not(.always-show-bottombar) {
		.md-time-indicator, #rnp-time-indicator {
			right: 25px !important;
		}
	}
	
	&.rnp-bottom-progressbar {
		#main-player {
			.prg {
				bottom: -2px !important;
				.has .ctrl {
					opacity: 0 !important;
				}
			}
		}
		&:not(.rnp-idle), &.bottombar-hover {
			#main-player {
				.prg {
					bottom: 0px !important;
				}
				.prg, .prg > *{
					height: 8px !important;
				}
			}
		}
	}
}