
.rnp-checkbox-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	transition: all .3s ease;
	height: var(--estimated-height, unset);
	input[type=checkbox] {
		cursor: pointer;
	}
	.rnp-checkbox {
		appearance: none;
		background-color: #dfe1e433;
		border-radius: 72px;
		border-style: none;
		flex-shrink: 0;
		height: 20px;
		margin: 0;
		position: relative;
		width: 30px;
		transition: all 100ms ease-out;
		&::before {
			bottom: -6px;
			content: "";
			left: -6px;
			position: absolute;
			right: -6px;
			top: -6px;
		}
		&::after {
			background-color: #fff;
			border-radius: 50%;
			content: "";
			height: 14px;
			left: 3px;
			position: absolute;
			top: 3px;
			width: 14px;
			transition: all 100ms ease-out;
		}
		&:hover {
			background-color: #c9cbcd33;
			transition-duration: 0s;
		}
		&:checked {
			background-color: var(--rnp-accent-color);
			&::after {
				background-color: #fff;
				left: 13px;
			}
			&:hover {
				background-color: var(--rnp-accent-color);
			}
		}
	}
	.rnp-checkbox-label {
		padding-left: 10px;
		cursor: pointer;
		margin-right: 2px;
	}
	&:last-of-type + .rnp-checkbox-note {
		margin-bottom: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.rnp-checkbox-note {
	opacity: .5;
	font-size: 12px;
	padding-left: 40px;
	display: block;
	margin-top: -10px;
	margin-bottom: 10px;
}

.rnp-slider-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 15px;
	position: relative;
	padding-bottom: 4px;
	height: 38px;
	overflow: hidden;
	transition: all .3s ease;
}
.rnp-slider-label {
	margin-bottom: 8px;
}
.rnp-slider {
	-webkit-appearance: none;
	background-color: #dfe1e422;
	border-radius: 20px;
	width: 100%;
	height: 8px;
}
.rnp-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background: #fff;
	cursor: pointer;
	border-radius: 10px;
	transition: all .2s ease;
}
.rnp-slider::-webkit-slider-thumb:hover {
	-webkit-appearance: none;
	width: 8px;
	height: 16px;
	cursor: pointer;
}
.rnp-slider-reset {
	width: 8px;
	height: 8px;
	border-radius: 10px;
	border: none;
	opacity: .3;
	margin-left: 6px;
	transform: translateY(-1px);
	background-color: #fff;
	transition: background-color .2s ease, opacity .2s ease;
}
.rnp-slider-reset:hover {
	opacity: 1;
	background-color: var(--rnp-accent-color);
}
.rnp-slider-wrapper:not(.changed) .rnp-slider-reset {
	opacity: 0;
	pointer-events: none;
}
.rnp-slider-wrapper.with-ticks:hover {
	height: 48px;
}
.rnp-slider-ticks {
	display: flex;
	width: 100%;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
}
.rnp-slider-tick {
	font-size: 12px;
	opacity: 0;
	transition: all .3s ease;
}
.rnp-slider-wrapper.with-ticks:hover .rnp-slider-tick {
	opacity: 0.5;
}
.rnp-slider-note {
	opacity: .5;
	font-size: 12px;
	display: block;
	margin-top: -10px;
	margin-bottom: 10px;
}
.rnp-checkbox-wrapper:last-of-type + .rnp-slider-note {
	margin-bottom: 0;
}



.rnp-select-group-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.rnp-select-group-label {
	margin-right: 10px;
	margin-bottom: 10px;
}
.rnp-select-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;
	flex: 1;
	gap: 1px;
}
.rnp-select-group-btn {
	flex: 1;
	background-color: #dfe1e433;
	border: none;
	border-radius: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	transition: background-color .3s ease;
}
.rnp-select-group-btn:first-child {
	border-radius: 6px 0 0 6px;
}
.rnp-select-group-btn:last-child {
	border-radius: 0 6px 6px 0;
}
.rnp-select-group-btn.selected {
	background-color: var(--rnp-accent-color);
	font-weight: bold;
}


.rnp-lyric-offset {
	> div:first-child {
		display: flex;
		align-items: center;
		button:not(.rnp-slider-reset) {
			background: #dfe1e422;
			border: none;
			aspect-ratio: 1/1;
			height: 20px;
			margin-left: 2px;
			border-radius: 6px;
			transition: background-color .25s ease;
			&.active {
				background: var(--rnp-accent-color);
			}
		}
	}
	> div:last-child {
		display: flex;
		margin-top: 6px;
		justify-content: space-between;
		font-size: 13px;
		opacity: 0.5;
	}
	.rnp-slider-reset {
		transform: translateY(1px);
	}
	.rnp-slider-reset:not(.active) {
		opacity: 0;
		pointer-events: none;
	}
}




.rnp-settings-menu {
	position: fixed;
	z-index: 10;
	right: 30px;
	top: 100px;
	font-size: 16px;
	backdrop-filter: blur(30px);
	background: #00000022;
	padding: 16px 20px;
	border-radius: 10px;
	transition: all .3s ease;
	transform: translateY(-10px);
	opacity: 0;
	pointer-events: none;
	display: flex;
	gap: 20px;
	color: #fff;
	button {
		color: #fff;
	}
}

.rnp-group-title {
	margin-bottom: 15px;
	font-size: 17px;
	opacity: .6;
	font-weight: bold;
}

.rnp-settings {
	appearance: none;
	position: fixed;
	right: 30px;
	top: 65px;
	background-color: var(--rnp-accent-color-contrast);
	border: none;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--! Font Awesome Pro 6.2.1 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons  Inc. --%3E%3Cpath d='M192 64L160 0H128L96 64 64 0H48C21.5 0 0 21.5 0 48V256H384V48c0-26.5-21.5-48-48-48H224L192 64zM0 288v32c0 35.3 28.7 64 64 64h64v64c0 35.3 28.7 64 64 64s64-28.7 64-64V384h64c35.3 0 64-28.7 64-64V288H0zM192 464c-8.8 0-16-7.2-16-16s7.2-16 16-16s16 7.2 16 16s-7.2 16-16 16z'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	width: 20px;
	height: 20px;
	color: transparent;
	opacity: 0;
	transition: opacity 0.3s ease, top 0.3s ease, right 0.3s ease;
	cursor: pointer;
	z-index: 9;
}


body:hover .rnp-settings {
	opacity: .2;
}
.rnp-settings:checked {
	opacity: 1 !important;
}
.rnp-settings:hover {
	opacity: .7;
}
.rnp-settings:checked + .rnp-settings-menu {
	pointer-events: all;
	opacity: 1;
	transform: none;
}


body:not(.partial-bg) .bg-opacity,
body:not(.rnp-bg-blur) .bg-blur,
body:not(.rnp-bg-gradient) .gradient-bg-dynamic,
body:not(.rnp-bg-gradient) .bg-dim-for-gradient-bg,
body:not(.rnp-bg-blur) .bg-dim, 
body:not(.rnp-bg-fluid) .bg-dim-for-fluid-bg {
	opacity: 0;
	height: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	pointer-events: none;
}


/*body.gpu-acceleration-disabled {
	.rnp-settings-menu {
		padding-bottom: 80px;
		&::before {
			content: 'GPU 渲染已禁用，会影响正常渲染和性能\A请前往网易云音乐设置关闭"禁用 GPU 加速"选项\A如果该选项默认为关，请打开一次后再关闭';
        	white-space: pre;
			position: absolute;
			bottom: 15px;
			font-size: 16px;
			opacity: .6;
			line-height: 1.2;
		}
	}
}*/