
.rnp-checkbox-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	transition: all .3s ease;
	height: var(--estimated-height, unset);
	input[type=checkbox] {
		cursor: pointer;
	}
	.rnp-checkbox {
		appearance: none;
		background-color: #dfe1e433;
		border-radius: 72px;
		border-style: none;
		flex-shrink: 0;
		height: 20px;
		margin: 0;
		position: relative;
		width: 30px;
		transition: all 100ms ease-out;
		&::before {
			bottom: -6px;
			content: "";
			left: -6px;
			position: absolute;
			right: -6px;
			top: -6px;
		}
		&::after {
			background-color: #fff;
			border-radius: 50%;
			content: "";
			height: 14px;
			left: 3px;
			position: absolute;
			top: 3px;
			width: 14px;
			transition: all 100ms ease-out;
		}
		&:hover {
			background-color: #c9cbcd33;
			transition-duration: 0s;
		}
		&:checked {
			background-color: var(--rnp-accent-color);
			&::after {
				background-color: #fff;
				left: 13px;
			}
			&:hover {
				background-color: var(--rnp-accent-color);
			}
		}
	}
	.rnp-checkbox-label {
		padding-left: 10px;
		cursor: pointer;
		margin-right: 2px;
	}
	&:last-of-type + .rnp-checkbox-note {
		margin-bottom: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&.with-note {
		margin-bottom: 15px;
	}
}
.rnp-checkbox-note {
	opacity: .5;
	font-size: 14px;
	padding-left: 40px;
	display: block;
	margin-top: -10px;
	margin-bottom: 20px;
}

.rnp-slider-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 4px;
	//height: 38px;
	overflow: hidden;
	transition: all .3s ease;
}
.rnp-slider-label {
	margin-bottom: 12px;
}
.rnp-slider {
	-webkit-appearance: none;
	background-color: #dfe1e422;
	border-radius: 20px;
	width: 100%;
	height: 8px;
}
.rnp-slider:first-child {
	margin-top: 5px;
}
.rnp-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background: #fff;
	cursor: pointer;
	border-radius: 10px;
	transition: all .2s ease;
}
.rnp-slider::-webkit-slider-thumb:hover {
	-webkit-appearance: none;
	width: 8px;
	height: 16px;
	cursor: pointer;
}
.rnp-slider-reset {
	width: 8px;
	height: 8px;
	border-radius: 10px;
	border: none;
	opacity: .3;
	margin-left: 6px;
	transform: translateY(-1px);
	background-color: #fff;
	transition: background-color .2s ease, opacity .2s ease;
}
.rnp-slider-reset:hover {
	opacity: 1;
	background-color: var(--rnp-accent-color);
}
.rnp-slider-wrapper:not(.changed) .rnp-slider-reset {
	opacity: 0;
	pointer-events: none;
}
.rnp-slider-wrapper.with-ticks {
	height: unset;
}
.rnp-slider-ticks {
	display: flex;
	width: 100%;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	margin-top: 5px;
}
.rnp-slider-tick {
	font-size: 14px;
	transition: all .3s ease;
	opacity: 0.5;
}
.rnp-slider-note {
	opacity: .5;
	font-size: 14px;
	display: block;
	margin-top: -10px;
	margin-bottom: 20px;
}
.rnp-checkbox-wrapper:last-of-type + .rnp-slider-note {
	margin-bottom: 0;
}



.rnp-select-group-wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.rnp-select-group-label {
	margin-right: 10px;
	margin-bottom: 10px;
}
.rnp-select-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;
	flex: 1;
	gap: 1px;
}
.rnp-select-group-btn {
	flex: 1;
	background-color: #dfe1e433;
	border: none;
	border-radius: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	transition: background-color .3s ease;
	white-space: nowrap;
    min-width: 40px;
	font-size: 16px;
}
.rnp-select-group-btn:first-child {
	border-radius: 6px 0 0 6px;
}
.rnp-select-group-btn:last-child {
	border-radius: 0 6px 6px 0;
}
.rnp-select-group-btn.selected {
	background-color: var(--rnp-accent-color);
	font-weight: bold;
}


.rnp-lyric-offset {
	> div:first-child {
		display: flex;
		align-items: center;
	}
	.rnp-slider-wrapper {
		margin-top: 6px;
		margin-bottom: 0;
    	height: 14px;
	}
	> div:last-child {
		display: flex;
		margin-top: 6px;
		justify-content: space-between;
		font-size: 13px;
		align-items: center;
		button:not(.rnp-slider-reset) {
			opacity: 0.8;
			background: #dfe1e422;
			border: none;
			aspect-ratio: 1/1;
			height: 25px;
			font-size: 16px;
			border-radius: 6px;
			transition: background-color .25s ease;
			&.active {
				background: var(--rnp-accent-color);
			}
		}
		label {
			font-size: 16px;
			opacity: 0.5;
		}
	}
	.rnp-slider-reset {
		transform: translateY(1px);
	}
	.rnp-slider-reset:not(.active) {
		opacity: 0;
		pointer-events: none;
	}
}

.rnp-about-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
	.rnp-about-item-content {
		opacity: .6;
	}
}



.rnp-settings-menu {
	position: fixed;
	z-index: 10;
	right: 30px;
	top: 100px;
	font-size: 18px;
	backdrop-filter: blur(30px);
	background: #0000002f;
	border-radius: 10px;
	transition: all .3s ease;
	transform: translateY(-10px);
	opacity: 0;
	pointer-events: none;
	display: flex;
	gap: 20px;
	color: #fff;
	height: min(500px, 60vh);
	overflow: hidden;
	button {
		color: #fff;
	}
	.rnp-settings-menu-tabs {
		width: max-content;
		padding-top: 16px;
		padding-left: 20px;
		.rnp-settings-menu-tab {
			padding: 10px 10px;
			font-size: 18px;
			transition: transform .2s ease, color .2s ease;
			cursor: pointer;
			&.active {
				font-weight: bold;
				transform: scale(1.1);
				color: var(--rnp-accent-color);
			}
		}
	}
	.rnp-settings-menu-inner {
		width: 250px;
		overflow-y: auto;
		padding: 0px 20px 20px 10px;
		.rnp-group {
			padding-top: 30px;
			padding-bottom: 5px;
			.rnp-group-title {
				margin-bottom: 20px;
				font-size: 25px;
				opacity: .6;
				font-weight: bold;
			}
		}
		&::-webkit-scrollbar-track {
			background: transparent !important;
		}
	}
}

.rnp-settings {
	appearance: none;
	position: fixed;
	
	right: 20px;
	top: 65px;
	background-color: var(--rnp-accent-color-contrast);
	border: none;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336c44.2 0 80-35.8 80-80s-35.8-80-80-80s-80 35.8-80 80s35.8 80 80 80z'/%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	width: 20px;
	height: 20px;
	color: transparent;
	opacity: 0;
	transition: opacity 0.3s ease, top 0.3s ease, right 0.3s ease;
	cursor: pointer;
	z-index: 9;
}


body:not(.rnp-idle) .rnp-settings {
	opacity: .2;
}
.rnp-settings:checked {
	opacity: 1 !important;
}
.rnp-settings:hover {
	opacity: .7;
}
.rnp-settings:checked + .rnp-settings-menu {
	pointer-events: all;
	opacity: 1;
	transform: none;
}


body:not(.partial-bg) .bg-opacity,
body:not(.rnp-bg-blur) .bg-blur,
body:not(.rnp-bg-gradient) .gradient-bg-dynamic,
body:not(.rnp-bg-gradient) .bg-dim-for-gradient-bg,
body:not(.rnp-bg-blur) .bg-dim, 
body:not(.rnp-bg-fluid) .bg-dim-for-fluid-bg,
body:not(.rnp-bg-fluid) .static-fluid,
body:not(.rnp-bg-fluid) .static-fluid + .rnp-checkbox-note,
body.rnp-bg-none .partial-bg,
body:not(.lyric-only) .center-lyric-control,
body.material-you-theme .refined-control-bar-switch,
body:not(.refined-control-bar):not(.material-you-theme) .bottom-progressbar-switch,
body:not(.rnp-custom-font) .rnp-custom-font-section,
.m-fm .presentation-mode-switch,
.m-fm .presentation-mode-switch + .rnp-checkbox-note {
	opacity: 0;
	height: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	pointer-events: none;
}


/*body.gpu-acceleration-disabled {
	.rnp-settings-menu {
		padding-bottom: 80px;
		&::before {
			content: 'GPU 渲染已禁用，会影响正常渲染和性能\A请前往网易云音乐设置关闭"禁用 GPU 加速"选项\A如果该选项默认为关，请打开一次后再关闭';
        	white-space: pre;
			position: absolute;
			bottom: 15px;
			font-size: 16px;
			opacity: .6;
			line-height: 1.2;
		}
	}
}*/