body {
	filter: none !important;
}


body.rnp-dark, body:not(.rnp-light), body.rnp-auto.rnp-system-dark {
	> * {
		--rnp-accent-color: var(--rnp-accent-color-dark);
		--rnp-accent-color-rgb: var(--rnp-accent-color-dark-rgb);
		--rnp-accent-color-on-primary: var(--rnp-accent-color-on-primary-dark);
		--rnp-accent-color-on-primary-rgb: var(--rnp-accent-color-on-primary-dark-rgb);
		--rnp-accent-color-shade-1: var(--rnp-accent-color-shade-1-dark);
		--rnp-accent-color-shade-1-rgb: var(--rnp-accent-color-shade-1-dark-rgb);
		--rnp-accent-color-shade-2: var(--rnp-accent-color-shade-2-dark);
		--rnp-accent-color-shade-2-rgb: var(--rnp-accent-color-shade-2-dark-rgb);
		--rnp-accent-color-overlay: #000;
		--rnp-accent-color-contrast: #fff;
		--rnp-drop-shadow: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
	}
	&:not(.enable-accent-color), &:not([style*='--rnp-accent-color']) {
		> * {
			--rnp-accent-color: #aaa !important;
			--rnp-accent-color-rgb: 170, 170, 170 !important;
			--rnp-accent-color-on-primary: #eee !important;
			--rnp-accent-color-on-primary-rgb: 238, 238, 238 !important;
			--rnp-accent-color-shade-1: #eee !important;
			--rnp-accent-color-shade-1-rgb: 238, 238, 238 !important;
			--rnp-accent-color-shade-2: #fff !important;
			--rnp-accent-color-shade-2-rgb: 255, 255, 255 !important;
		}
	}
}
body.rnp-light, body.rnp-auto.rnp-system-light {
	> * {
		--rnp-accent-color: var(--rnp-accent-color-light);
		--rnp-accent-color-rgb: var(--rnp-accent-color-light-rgb);
		--rnp-accent-color-on-primary: var(--rnp-accent-color-on-primary-light);
		--rnp-accent-color-on-primary-rgb: var(--rnp-accent-color-on-primary-light-rgb);
		--rnp-accent-color-shade-1: var(--rnp-accent-color-shade-1-light);
		--rnp-accent-color-shade-1-rgb: var(--rnp-accent-color-shade-1-light-rgb);
		--rnp-accent-color-shade-2: var(--rnp-accent-color-shade-2-light);
		--rnp-accent-color-shade-2-rgb: var(--rnp-accent-color-shade-2-light-rgb);
		--rnp-accent-color-overlay: #fff;
		--rnp-accent-color-contrast: #000;
		--rnp-drop-shadow: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.25));
		.rnp-settings-menu {
			background: #00000066;
		}
	}
	&:not(.enable-accent-color), &:not([style*='--rnp-accent-color']) {
		> * {
			--rnp-accent-color: #323232 !important;
			--rnp-accent-color-rgb: 50, 50, 50 !important;
			--rnp-accent-color-on-primary: #000 !important;
			--rnp-accent-color-on-primary-rgb: 0, 0, 0 !important;
			--rnp-accent-color-shade-1: #232323 !important;
			--rnp-accent-color-shade-1-rgb: 35, 35, 35 !important;
			--rnp-accent-color-shade-2: #0f0f0f !important;
			--rnp-accent-color-shade-2-rgb: 15, 15, 15 !important;
		}
	}
}

body:not(.enable-accent-color), body:not([style*='--rnp-accent-color']) {
	.rnp-settings-menu *{
		--rnp-accent-color: #ffffff55 !important;
	}
}
body.mq-playing:not(.enable-accent-color) .m-pinfo .btn-love.loved:before {
    background-color: #ec4141;
}


.n-single {
	.cdin, .cdimg {
		width: 95%;
		height: 95%;
	}
	.cdimg {
		background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		will-change: background-image;
		transition: {
			property: background-image, opacity;
			duration: 1s, 0.1s;
			//timing-function: ease;
		};
		&::before {
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			-webkit-mask-size: contain;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' stroke='%23000' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E.spinner_V8m1%7Btransform-origin:center;animation:spinner_zKoa 2s linear infinite%7D.spinner_V8m1 circle%7Bstroke-linecap:round;animation:spinner_YpZS 1.5s ease-in-out infinite%7D@keyframes spinner_zKoa%7B100%25%7Btransform:rotate(360deg)%7D%7D@keyframes spinner_YpZS%7B0%25%7Bstroke-dasharray:0 150;stroke-dashoffset:0%7D47.5%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-16%7D95%25,100%25%7Bstroke-dasharray:42 150;stroke-dashoffset:-59%7D%7D%3C/style%3E%3Cg class='spinner_V8m1'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
			background: var(--rnp-accent-color-shade-2);
			width: 50px;
			height: 50px;
			z-index: 2;
			opacity: 0;
			transition: opacity 0.3s ease 0.2s;
			will-change: opacity;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: -2px;
			right: -2px;
			top: -2px;
			bottom: -2px;
			background: #00000066;
			backdrop-filter: blur(16px);
			opacity: 0;
			transition: opacity 0.3s ease;
			will-change: opacity;
		}
		&.loading {
			//opacity: 0.35;
			&::before, &::after {
				opacity: 1;
			}
		}
		> img {
			//opacity: 0;
		}
	}
	> .wrap {
		max-width: min(max(80vw, 1500px), calc(100vw - max(50px, 5vw)));
	}
}
.g-single-track {
	.content { // content container
		flex: 0;
		width: 100%;
		position: absolute;
		//left: min(5vw, 30px);
		bottom: clamp(30px, 5%, 60px);
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		max-width: 100%;
	}
	.g-bd2 { // comment container
		max-width: min(1500px, 80%);
		scroll-snap-align: start;
	}
	.n-single { // the now playing section
		height: 100%;
		max-height: unset;
		scroll-snap-align: start;
	}
	.g-singlec-ct .n-single .sd { // album container
		width: clamp(200px, 20vw, 500px);
		margin: 0;
		margin-left: 50px;
	}
	.g-singlec-ct .n-single .mn { // song info container
		width: 45%;
		display: flex;
		position: static;
		flex: 0;
		max-width: unset;
		.head {
			flex: 0;
			width: 100%;
		}
		.head .inf .title {
			text-align: left;
			height: auto;
			// margin-bottom: 10px;
			// overflow: hidden;
			color: var(--rnp-accent-color-shade-2);
			h1 {
				font-size: clamp(45px, 5vh, 600px);
				width: 100%;
				max-width: unset;
				.name {
					/*.name-inner {
						width: max-content;
					}*/
					.name-inner {
						animation: none;
						width: 100% !important;
						word-break: break-word;
					}
					&.scroll{
						animation-name: title-mask;
						animation-duration: var(--scroll-speed);
						animation-direction: alternate;
						animation-iteration-count: infinite;
						animation-timing-function: linear;
						&:hover {
							animation-play-state: paused;
							.name-inner {
								animation-play-state: paused;
							}
						}
						.name-inner {
							animation-name: title-scroll;
							animation-duration: var(--scroll-speed);
							animation-direction: alternate;
							animation-iteration-count: infinite;
							animation-timing-function: linear;
						}
					}
					@keyframes title-scroll {
						0%, 5% {
							transform: translateX(0);
						}
						95%, 100% {
							transform: translateX(calc(0px - var(--scroll-offset)));
						}
					}
					@keyframes title-mask {
						0% {
							-webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(0, 0, 0, 0) 100%);
						}
						10%, 90% {
							-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(0, 0, 0, 0) 100%);
						}
						100% {
							-webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(255, 255, 255, 1) 100%);
						}
					}
				}
			}
		}
		.head .inf .info ul {
			flex-wrap: wrap;
			flex-direction: column;
		}
		.head .inf .info ul li {
			max-width: unset;
			width: 100%;
			text-align: left;
		}
		.head .inf .info .alias {
			order: -1;
			font-size: 20px;
			height: auto;
			line-height: 2;
			margin-top: -5px;
			max-width: 100%;
			//overflow: hidden;
			color: rgba(var(--rnp-accent-color-shade-2-rgb), 0.55);
			white-space: normal;
			line-height: 1.5;
			word-break: break-word;
			margin-bottom: 15px;
			&:not(:has(*)) {
				height: 0 !important;
			}
		}
		.head .inf .info {
			display: flex;
			flex-direction: column;
		}
		.head .inf .info ul{
			li {
				font-size: 0;
				a {
					font-size: 16px;
					transition: color .3s ease;
					color: rgba(var(--rnp-accent-color-shade-2-rgb), 0.45);
					.s-fc4 {
						color: rgba(var(--rnp-accent-color-shade-2-rgb), 0.35);
						transition: color .3s ease;
					}
					&:hover {
						color: rgba(var(--rnp-accent-color-shade-2-rgb), 1);
						.s-fc4 {
							color: rgba(var(--rnp-accent-color-shade-2-rgb), 0.6);
						}
					}
					&::before {
						content: '';
						display: inline-block;
						width: 22px;
						height: 15px;
						background-repeat: no-repeat;
						background-position: left;
						background-size: contain;
						transform: translateY(2px);
						//filter: invert(1);
						opacity: .3;
						pointer-events: none;
						background-color: var(--rnp-accent-color-shade-2);
						-webkit-mask-position: center;
						-webkit-mask-repeat: no-repeat;
					}
				}
			}
			li:nth-of-type(1) a::before {
				-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3C!-- Font Awesome Pro 6.0.0-alpha2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M389.418 347.664C358.834 320.578 318.732 304 274.664 304H173.336C77.609 304 0 381.602 0 477.332C0 496.477 15.523 512 34.664 512H355.193C333.4 493.432 320 468.27 320 440C320 399.045 348.041 364.709 389.418 347.664ZM224 256C294.695 256 352 198.691 352 128S294.695 0 224 0C153.312 0 96 57.309 96 128S153.312 256 224 256ZM601.725 160.631L505.725 179.832C490.768 182.824 480 195.957 480 211.211V372.408C469.945 369.727 459.281 368 448 368C394.98 368 352 400.234 352 440C352 479.764 394.98 512 448 512S544 479.764 544 440V300.176L614.275 286.121C629.232 283.131 640 269.996 640 254.742V192.01C640 171.816 621.525 156.672 601.725 160.631Z'/%3E%3C/svg%3E");
				//transform: translate(1px, 2px);
			}
			li:nth-of-type(2) a::before {
				-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 6.0.0-alpha2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M256 16C123.461 16 16 123.419 16 256S123.461 496 256 496S496 388.581 496 256S388.539 16 256 16ZM80.715 256H79.627C70.549 256 63.229 247.99 64.065 238.658C72.364 146.017 146.49 72.06 239.274 64.055C248.291 63.278 256 70.791 256 80.132V80.132C256 88.482 249.786 95.363 241.727 96.077C164.745 102.898 103.148 164.347 96.153 241.354C95.401 249.634 88.771 256 80.715 256ZM256 352C202.976 352 160 309 160 256S202.976 160 256 160S352 203 352 256S309.024 352 256 352ZM256 224C238.303 224 224 238.25 224 256S238.303 288 256 288C273.697 288 288 273.75 288 256S273.697 224 256 224Z'/%3E%3C/svg%3E");
				height: 18px;
				//transform: translateY(3px);
			}
			li:nth-of-type(3) a::before {
				-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 6.0.0-alpha2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M464 96H272L208 32H48C21.5 32 0 53.5 0 80V432C0 458.5 21.5 480 48 480H464C490.5 480 512 458.5 512 432V144C512 117.5 490.5 96 464 96ZM352 352C352 369.625 330.5 384 304 384S256 369.625 256 352S277.5 320 304 320C309.375 320 314.75 320.75 320 322.001V245.625L224 283.125V384C224 401.625 202.5 416 176 416S128 401.625 128 384S149.5 352 176 352C181.375 352 186.75 352.75 192 354.001V239.25C192 232.25 196.5 226.125 203.25 224L331.25 176.75C336 175.25 341.375 176.125 345.5 179.125S352 186.875 352 192V352Z'/%3E%3C/svg%3E");
				height: 17px;
				//transform: translate(1px, 2px);
			}
		}
		.head .inf {
			max-width: unset;
		}
		.lyric {
			position: absolute;
			left: 50vw;
			width: 40%;
			bottom: 10px;
			height: calc(100vh - var(--bottombar-height, 72px) - 120px);
			overflow: visible;
			//z-index: -1;
		}
	}
}
.g-single-track .g-singlec-ct .n-single {
	.mn .head {
		.inf .title h1 .name {
			// white-space: nowrap;
			// max-width: calc(100% - 10px);
			animation: none;
			overflow: hidden;
			width: 100%;
		}
		.inf .title h1 .tag-wrap {
			display: inline-block;
			opacity: 0;
			transition: opacity .3s ease;
			vertical-align: bottom;
			position: absolute;
			font-size: 35px;
			top: calc(-35px - 1em * 0.1);
			left: 3px;
			user-select: none;
		}
		.inf:hover .title h1 .tag-wrap {
			opacity: 0.4;
		}
		.inf:hover .title h1 .tag-wrap:hover {
			opacity: 0.8;
		}
		.inf .title h1 .tag-wrap svg {
			fill: var(--rnp-accent-color-shade-2);
			position: absolute;
			left: 0;
			top: 0;
		}
		.inf .info ul li:nth-of-type(1) a:not(:first-of-type):before {
			background-image: none;
			content: '/';
			color: #fff;
			filter: none;
			width: max-content;
			height: auto;
			margin-left: 2px;
			margin-right: 3px;
			transform: none;
			-webkit-mask-image: none;
			background: transparent;
		}
		.inf {
			transform: translateY(16px);
			transition: transform .3s ease;
			.info ul li {
				opacity: .5;
				transition: opacity .3s ease;
				&:nth-of-type(3) {
					opacity: 0;
				}
			}
		}
		.inf:hover {
			.info ul li {
				opacity: 1;
				&:nth-of-type(3) {
					opacity: .4;
				}
			}
			.info ul:hover li:nth-of-type(3) {
				opacity: 1;
			}
		}
		
	}
	.sd .cd {
		-webkit-transform: none !important;
		margin-top: 0 !important;
		-webkit-transition: none !important;
	}
	.sd .cdrun {
		display: none;
	}
	.cdbox {
		display: none;
	}
	.cdbg {
		border-radius: 1000px;
	}
}
.g-singlec-comment,
.g-singlec-comment-detail,
.g-singlec-comment-top { // comment area action buttons (post comment and back to top)
    font-size: 0;
    background: #00000022 !important;
    color: transparent;
    backdrop-filter: blur(36px);
    opacity: 0 !important;
    border: none !important;
    min-width: 36px;
    width: 36px;
	pointer-events: none !important;

	body.mq-playing-scroll & {
		pointer-events: auto !important;
		opacity: .8 !important;
		&:hover {
			opacity: 1 !important;
		}
	}
}
.g-singlec-comment-top {
    transform: translateX(148px) !important;
}
.g-singlec-comment-detail.z-show {
    padding: 0;
    left: unset;
    right: calc(26% - -6px - 148px);
	svg {
		margin: 0;
	}
}

body:not(.mq-playing), body.mq-playing-scroll {
	.sd {
		.together-head, .together-text {
			opacity: 0;
		}
	}
}
.n-single .sd {
	.together-head {
		margin: 0;
		left: -20%;
		justify-content: left;
		top: 60px;
		left: 20px;
		position: fixed;
		z-index: 3;
		transition: opacity .2s ease !important;
		.ear_left, .ear_right {
			display: none;
		}
		.wrap::after {
			display: none;
		}
		.face-1, .face-2 {
			width: 30px;
			height: 30px;
		}
		.face-2 {
			margin-left: 15px;
		}
	}
	.together-text {
		position: fixed;
		top: 82px;
		left: 104px;
		transform: none;
		text-align: left;
		z-index: 3;
		transition: opacity .2s ease !important;
	}
}
.n-single .cd .newtrytxt .box {
    margin-left: 5px;
    text-align: left;
    transform: translateY(calc(-65px - clamp(200px,20vw,500px)));
}
.m-playlrc .word .text {
	overscroll-behavior: contain;
}
.m-playlrc .word .text .z-crt p {
	font-size: var(--font-size-lyric-current, 1.3rem) !important;
	color: var(--rnp-accent-color-shade-1);
}
.m-playlrc .word .j-line:not(.z-crt) p{
    font-size: var(--font-size-lyric, 1.05rem) !important;
	will-change: font-size, color;
}
.m-playlrc .j-line.J-line-matchedscroll {
	color: var(--rnp-accent-color-shade-2) !important;
}
.m-playlrc .word .text .z-crt p:not(:last-child) {
	margin-bottom: calc(10px * var(--font-size-lyric-current, 1.3rem) / 1.3rem) !important;
}
.m-playlrc .word .text .z-crt p.translated {
	opacity: .8;
}
.m-playlrc .word .text p {
	transition: all .5s cubic-bezier(.5,0,.14,1);
	transition-delay: 0.2s;
	line-height: 1.45 !important;
}
.m-playlrc > article > .central-line-block:not(.invisible) + div .j-line p {
	transition-delay: 0s !important;
}
.m-playlrc .supplier, .m-playlrc .noword{
	opacity: 0;
	transition: opacity .5s ease !important;
	transition-delay: 0s !important;
}
body.adjusting-lyric-size .m-playlrc .word .text p {
	transition: none !important;
	transition-delay: 0s !important;
}
.m-playlrc:hover .supplier, .m-playlrc:hover .noword{
	opacity: 1;
}
body.mq-playing {
	.g-hd .m-leftbox {
		opacity: 0;
		transition: opacity .3s ease;
	}
	 .g-hd:hover .m-leftbox {
		opacity: 1;
	}
	 .g-hd .m-sch {
		display: none;
	}
	&.mq-playing-fullscreen .g-hd .m-leftbox {
		opacity: 1 !important;
	}
	#main-player {
		background: transparent;
	}
	&:not(.mq-playing-scroll) #main-player,
	&.partial-bg #main-player {
		border: none;
	}
	.m-player {
		.prg .has {
			background: rgba(var(--rnp-accent-color-shade-1-rgb), 0.8);
		}
		.prg .ctrl::before,
		.prg .ctrl::after {
			background: var(--rnp-accent-color-shade-1);
		}
		.prg-ply .ctrl {
			width: 8px;
			height: 8px;
			padding: 6px;
			opacity: 0;
			transform: scale(0.8);
			transition: opacity .2s ease, transform .2s ease;
		}
		.prg-ply:hover .ctrl {
			opacity: 1;
			transform: scale(1);
		}
		.prg-ply:hover .ctrl::before {
			transform: none;
		}
		.prg-ply .ctrl::before {
			border-radius: 10px;
			transition: width .2s ease, transform .2s ease;
		}
	}
	.m-pinfo .zoom {
		display: none;
	}
	.m-pinfo .btns {
		left: 16px;
	}
}


body.mq-playing {
	.m-pinfo .btn:not(.btn-love),
	#main-player > *:not(.f-cp, .prg, time),
	#main-player > .audioEffect,
	#main-player > .spk,
	#main-player > .listenTogether,
	#main-player > .list {
		opacity: 0;
		transition: opacity .3s ease, background .3s ease;
	}
}
body.bottombar-hover, body.mq-playing-scroll {
	.m-pinfo .btn:not(.btn-love),
	#main-player>*:not(.f-cp, .prg, time),
	#main-player>.audioEffect,
	#main-player>.spk,
	#main-player>.listenTogether,
	#main-player>.list {
		opacity: 0.9999999; /* Tricky fix for incompatibility with other themes */
	}
}
body.mq-playing .m-pinfo .btn-love {
	border-color: transparent !important;
	transition: border-color .3s ease, background-color .3s ease;
	position: relative;
}
body.bottombar-hover .btn-love,
body.mq-playing-scroll .btn-love {
	border-color: rgba(var(--rnp-accent-color-shade-2-rgb), 0.1) !important;
}
body.mq-playing .m-pinfo .btn-love.loved:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--rnp-accent-color);
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='icon24_liked'%3E%3Cpath d='M15.2 4.5c3 0 5.3 2.6 5.3 5.8 0 2.6-1.3 4.9-3.9 7.1-.9.8-1.9 1.5-2.9 2.2l-.9.6c-.2.1-.3.2-.4.2-.3.1-.6.1-.8 0-.1 0-.2-.1-.4-.2l-.9-.6c-1-.7-2-1.4-2.9-2.2-2.6-2.2-3.9-4.5-3.9-7.1 0-3.2 2.4-5.8 5.3-5.8 1.2 0 2.3.4 3.2 1.1.9-.7 2-1.1 3.2-1.1z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: 24px;
	opacity: 1;
}
body.mq-playing .m-pinfo .btn-love.loved svg{
	display: none;
}
.m-pinfo .btn {
	// border-color: rgba(var(--rnp-accent-color-shade-2-rgb), 0.1) !important;
	border-color: transparent !important;
	svg {
		fill: rgba(var(--rnp-accent-color-rgb), 0.8) !important;
	}
}
.m-pinfo .btn:hover .labelVip {
	opacity: 1;
}
svg.labelVip.labelVip.labelVip {
	fill: transparent;
	opacity: 0;
	transition: opacity .3s ease;
}
body.mq-playing .m-player .prg:not(:hover) .track {
    background-color: rgba(var(--rnp-accent-color-rgb), 0.1);
}
body.mq-playing .m-player .prg .track {
    background-color: rgba(var(--rnp-accent-color-shade-1-rgb), 0.25);
}
body.mq-playing .m-player .prg:not(:hover) .has {
    background: rgba(var(--rnp-accent-color-rgb), 0.53333);
}
body.mq-playing .m-player .prg:not(:hover) .download {
    background: rgba(var(--rnp-accent-color-rgb), 0.1);
}
body.mq-playing .m-player .prg:not(:hover) .ctrl::before, .m-player .prg .ctrl::after {
    background: var(--rnp-accent-color);
}
body.mq-playing .m-player .prg *{
	border-radius: 10px !important;
}
.m-player time.now {
	left: calc(50% - 227px);
}
.m-player time.all {
	right: calc(50% - 227px);
}
.m-player .prg-ply {
	left: calc(50% - 186px);
	right: calc(50% - 186px);
}
body.mq-playing .m-player {
	.btnc, .btnp, .type, .word {
		svg {
			opacity: .5;
			transition: opacity .3s ease, fill .2s ease;
		}
	}
	.type, .word {
		svg {
			opacity: 0;
		}
	}
}
body.bottombar-hover, body.mq-playing-scroll {
	.m-player {
		.btnc, .btnp, .type, .word {
			svg {
				opacity: 1;
			}
		}
	}
}
body.mq-playing .m-player {
	.btnp {
		transition: background-color .25s ease;
	}
	.prg-spk {
		box-shadow: none;
		background: #00000015;
		backdrop-filter: blur(36px);
		border-radius: 100px;
	}
	.prg-spk::before {
		display: none;
	}
	.prg-spk::after {
		display: none;
	}
	.prg-spk .track::before {
		background: rgba(var(--rnp-accent-color-rgb), 0.1);
	}
	.prg-spk .has::before {
		background: var(--rnp-accent-color);
	}
	.prg-spk .ctrl {
		background-color: var(--rnp-accent-color);
	}
	.brt .brttext.vip {
		color: var(--rnp-accent-color);
		border-color: var(--rnp-accent-color);
	}
}


body.mq-playing {
	.m-playlist {
		background: #00000022;
		backdrop-filter: blur(36px) brightness(0.8);
		border-radius: 16px;
		li.z-play, li.z-pause {
			.col-2 .tit, .col-4 a {
				color: var(--rnp-accent-color) !important;
			}
		}
	}
	.m-playlist li::before,
	.m-playlist .ico-mv,
	.m-playlist .ico-sq,
	.u-micn-sq,
	.SpriteIcon_hires,
	.SpriteIcon_originalSong,
	.SpriteIcon_dolby {
		background: var(--rnp-accent-color);
		opacity: .5;
	}
}
 
.g-single-track .g-singlec-ct .n-single .mn .lyric .cnt > div:first-child:not(.inf) {
	display: none;
}
.g-singlec-live {
	display: none;
}
body.mq-playing .m-player {
	.word.z-light,
	.type:hover,
	.btnc-prv:hover,
	.btnc-nxt:hover,
	.word:hover {
		svg {
			fill: var(--rnp-accent-color);
		}
	}
}
body.mq-playing .s-fc2,
body.mq-playing .s-fc2:hover {
    color: var(--rnp-accent-color);
}
body.mq-playing .s-fc2:hover {
    filter: brightness(1.1);
}
body.mq-playing .m-player .btnc svg,
body.mq-playing .m-player .btnp svg {
    fill: var(--rnp-accent-color-shade-2);
}




body.lyric-blur:not(.adjusting-lyric-size) {
	.m-playlrc .word .j-line:not(.z-crt) {
		filter: blur(4px);
	}
	.m-playlrc:hover .word .j-line:not(.z-crt),
	.m-playlrc > article > .central-line-block:not(.invisible) + div .j-line:not(.z-crt) {
		filter: none;
	}
	.m-playlrc .word .j-line {
		transition: filter .5s ease;
		will-change: filter;
	}
}




body.rectangle-cover {
	.n-single .cdin,
	.n-single .cdimg {
		border-radius: 16px;
		box-shadow: 0 10px 10px rgb(0 0 0 / 5%), 0 0px 20px rgb(0 0 0 / 6%);
	}
	.n-single .cdwrap {
		animation: none;
	}
	.n-single .cdwrap > * {
		-webkit-transform: translate3d(-50%, -50%, 0) !important;
	}
	.n-single .cdbg {
		display: none;
	}
	.g-single-track .g-singlec-ct .n-single .sd {
		width: clamp(200px, 20vw, 400px);
	}
}



body.use-notosans {
	.g-single-track .g-singlec-ct .n-single .mn .lyric *:not(.no-force-font),
	.n-single .head *:not(.no-force-font) {
		font-family:
			'Source Han Sans CN',
			'Noto Sans',
			'思源黑体',
			'Source Han Sans VF',
			'Source Han Sans' !important;
	}
}


body.hide-comments {
	.g-single-track .g-bd2,
	.g-singlec .g-bd2 {
		display: none;
	}
	.g-singlec-ct {
		overflow-y: hidden;
	}
	.g-bd2 {
		display: none;
	}
	.m-fm .fmcmt {
		display: none;
	}
}


body.partial-bg {
	.rnp-bg:not(.bg-fm) {
		left: 30px;
		top: 60px;
		width: calc(100% - 60px);
		height: calc(100% - 133px);
		border-radius: 16px;
		opacity: var(--bg-opacity, 1);
	}
	#rnp-settings {
		right: 50px;
		top: 85px;
	}
	#rnp-settings-menu {
		right: 50px;
		top: 120px;
	}
}




body:not(.lyric-break-word) .m-playlrc .word .text .z-crt p {
    word-break: break-all;
}




.m-tool .playfull {
    display: none !important;
}



body.rnp-light {
	.g-single, .m-fm {
		.m-comment, .recommend {
			color: #111;
			.s-fc1, a {
				color: rgba(0, 0, 0, 0.8);
			}
			.s-fc3 {
				color: rgba(0, 0, 0, 0.6);
			}
			.s-fc4, a.s-fc4.z-nohvr:hover {
				color: rgba(0, 0, 0, 0.6);
			}
			.praise svg, .share svg, .reply-icon svg {
				fill: rgba(0, 0, 0, 0.45) !important;
			}
			a.s-fc3:hover, .f-cp.s-fc3:hover {
				color: rgba(0, 0, 0, 0.8);
			}
			.praise:hover svg, .share:hover svg, .reply-icon:hover svg {
				fill: rgba(0, 0, 0, 0.7) !important;
			}
			.s-fc7 {
				color: rgba(0, 0, 0, 0.2);
			}
			.citm {
				border-color: rgba(0, 0, 0, 0.05);
			}
		}
		.recommend-btn {
			background: rgba(0, 0, 0, 0.04) !important;
			svg {
				fill: rgba(0, 0, 0, 0.4) !important;
			}
			&:hover {
				background: rgba(0, 0, 0, 0.08) !important;
			}
		}
	}
	&.mq-playing {
		.m-player .brt .brttext.local {
			border: 1px solid rgba(0, 0, 0, 0.8);
			color: rgba(0, 0, 0, 0.8);
		}
	}
}

body.rnp-shadow {
	.rnp-lyrics-line > div,
	.g-single-track .g-singlec-ct .n-single .mn .head .inf .title,
	.g-single-track .g-singlec-ct .n-single .mn .head .inf .info,
	.m-fm > .g-play .fmlrc {
		filter: var(--rnp-drop-shadow);
	}
}

body.horizontal-align-center {
	.g-single-track .g-singlec-ct .n-single .mn .head .inf .info ul li {
		text-align: center;
	}
	.g-single-track .g-singlec-ct .n-single .mn .head .inf .info .alias {
		text-align: center;
	}
	.g-single-track .g-singlec-ct .n-single .mn .head .inf .title h1 .name .name-inner {
		text-align: center;
	}
	.g-single-track .g-singlec-ct .n-single .mn .head .inf .title h1 .tag-wrap {
		text-align: center;
		width: 100%;
	}
	.g-single-track .g-singlec-ct .n-single .sd {
		margin-left: calc(22.5% + 36px);
		.sd-wrap {
			transform: translateX(-50%);
		}
	}
	.m-fm > .g-play .fmplay > * {
		margin-left: auto;
		margin-right: auto;
	}
	.m-playlrc .inf {
		text-align: center;
		margin-left: 60px;
	}
}