body {
	filter: none !important;
}
.n-single {
	.cdin, .cdimg {
		width: 95%;
		height: 95%;
	}
}
#cd-bg-blur { // background blur
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
	transition: left 0.3s ease, top 0.3s ease, width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;

	&::before { // dim layer
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: var(--bg-dim, 0.55);
		pointer-events: none;
	}
	body.gradient-bg &::before {
		opacity: var(--bg-dim-for-gradient-bg, 0.45);
	}

	&::after { // blur layer
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(var(--bg-blur, 36px));
		pointer-events: none;
	}
}
.g-single-track {
	.content { // content container
		flex: 0;
		width: 100%;
		position: absolute;
		left: min(5vw, 30px);
		bottom: clamp(30px, 5%, 60px);
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		max-width: 100%;
	}
	.g-bd2 { // comment container
		max-width: min(1500px, 80%);
		scroll-snap-align: start;
	}
	.n-single { // the now playing section
		height: 100%;
		max-height: unset;
		scroll-snap-align: start;
	}
	.g-singlec-ct .n-single .sd { // album container
		width: clamp(200px, 20vw, 500px);
		margin: 0;
		margin-left: 50px;
	}
	.g-singlec-ct .n-single .mn { // song info container
		width: 50vw;
		display: flex;
		position: static;
		flex: 0;
		max-width: unset;
		.head {
			flex: 0;
			width: 100%;
		}
		.head .inf .title {
			text-align: left;
			height: auto;
			margin-bottom: 10px;
			overflow: hidden;
			h1 {
				font-size: clamp(45px, 5vh, 600px);
				max-width: unset;
			}
		}
		.head .inf .info ul {
			flex-wrap: wrap;
			flex-direction: column;
		}
		.head .inf .info ul li {
			max-width: unset;
			width: 100%;
			text-align: left;
		}
		.head .inf .info .alias {
			order: -1;
			font-size: 20px;
			height: auto;
			line-height: 2;
			margin-top: -5px;
			overflow: visible;
			&:not(:has(*)) {
				height: 0 !important;
			}
		}
		.head .inf .info {
			display: flex;
			flex-direction: column;
		}
		.head .inf .info ul{
			li {
				font-size: 0;
				a {
					font-size: 16px;
					transition: color .3s ease;
					&:hover {
						color: #fff;
					}
					&::before {
						content: '';
						display: inline-block;
						width: 22px;
						height: 15px;
						background-repeat: no-repeat;
						background-position: left;
						background-size: contain;
						transform: translateY(2px);
						filter: invert(1);
						opacity: .4;
						pointer-events: none;
					}

				}
			}
			li:nth-of-type(1) a::before {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3C!-- Font Awesome Pro 6.0.0-alpha2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M389.418 347.664C358.834 320.578 318.732 304 274.664 304H173.336C77.609 304 0 381.602 0 477.332C0 496.477 15.523 512 34.664 512H355.193C333.4 493.432 320 468.27 320 440C320 399.045 348.041 364.709 389.418 347.664ZM224 256C294.695 256 352 198.691 352 128S294.695 0 224 0C153.312 0 96 57.309 96 128S153.312 256 224 256ZM601.725 160.631L505.725 179.832C490.768 182.824 480 195.957 480 211.211V372.408C469.945 369.727 459.281 368 448 368C394.98 368 352 400.234 352 440C352 479.764 394.98 512 448 512S544 479.764 544 440V300.176L614.275 286.121C629.232 283.131 640 269.996 640 254.742V192.01C640 171.816 621.525 156.672 601.725 160.631Z'/%3E%3C/svg%3E");
				transform: translate(1px, 2px);
			}
			li:nth-of-type(2) a::before {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 6.0.0-alpha2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M256 16C123.461 16 16 123.419 16 256S123.461 496 256 496S496 388.581 496 256S388.539 16 256 16ZM80.715 256H79.627C70.549 256 63.229 247.99 64.065 238.658C72.364 146.017 146.49 72.06 239.274 64.055C248.291 63.278 256 70.791 256 80.132V80.132C256 88.482 249.786 95.363 241.727 96.077C164.745 102.898 103.148 164.347 96.153 241.354C95.401 249.634 88.771 256 80.715 256ZM256 352C202.976 352 160 309 160 256S202.976 160 256 160S352 203 352 256S309.024 352 256 352ZM256 224C238.303 224 224 238.25 224 256S238.303 288 256 288C273.697 288 288 273.75 288 256S273.697 224 256 224Z'/%3E%3C/svg%3E");
				height: 18px;
				transform: translateY(3px);
			}
			li:nth-of-type(3) a::before {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Pro 6.0.0-alpha2 by %40fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --%3E%3Cpath d='M464 96H272L208 32H48C21.5 32 0 53.5 0 80V432C0 458.5 21.5 480 48 480H464C490.5 480 512 458.5 512 432V144C512 117.5 490.5 96 464 96ZM352 352C352 369.625 330.5 384 304 384S256 369.625 256 352S277.5 320 304 320C309.375 320 314.75 320.75 320 322.001V245.625L224 283.125V384C224 401.625 202.5 416 176 416S128 401.625 128 384S149.5 352 176 352C181.375 352 186.75 352.75 192 354.001V239.25C192 232.25 196.5 226.125 203.25 224L331.25 176.75C336 175.25 341.375 176.125 345.5 179.125S352 186.875 352 192V352Z'/%3E%3C/svg%3E");
				height: 17px;
				transform: translate(1px, 2px);
			}
		}
		.head .inf {
			max-width: unset;
			-webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 95%, rgba(0, 0, 0, 0) 100%);
		}
		.lyric {
			position: absolute;
			left: 50vw;
			width: 40%;
			bottom: 10vh;
			height: 50vh;
			overflow: visible;
			z-index: -1;
		}
	}
}
.n-single .head .title h1 .name {
	white-space: nowrap;
	max-width: unset;
	animation: none;
}
.g-single-track .g-singlec-ct .n-single .mn .head .inf .title h1 .tag-wrap {
	display: inline-block;
	opacity: 0;
	transition: opacity .3s ease;
	vertical-align: bottom;
}
.g-single-track .g-singlec-ct .n-single .mn .head .inf:hover .title h1 .tag-wrap {
	opacity: 0.8;
}
.g-single-track .g-singlec-ct .n-single .mn .head .inf .title h1 .tag-wrap svg {
	fill: #fff;
	position: absolute;
	left: 0;
	top: 0;
}
.g-single-track .g-singlec-ct .n-single .mn .head .inf .info ul li:nth-of-type(1) a:not(:first-of-type):before {
	background-image: none;
	content: '/';
	color: #fff;
	filter: none;
	width: max-content;
	height: auto;
	margin-left: 2px;
	margin-right: 3px;
	transform: none;
}
.g-single-track .g-singlec-ct .n-single .mn .head {
	.inf {
		transform: translateY(16px);
		transition: transform .3s ease;
		.info ul li {
			opacity: .5;
			transition: opacity .3s ease;
			&:nth-of-type(3) {
				opacity: 0;
			}
		}
	}
	.inf:hover {
		.info ul li {
			opacity: 1;
			&:nth-of-type(3) {
				opacity: .4;
			}
		}
		.info ul:hover li:nth-of-type(3) {
			opacity: 1;
		}
	}
	
}
.n-single .sd .cd {
	-webkit-transform: none !important;
	margin-top: 0 !important;
	-webkit-transition: none !important;
}
.n-single .sd .cdrun {
	display: none;
}
.n-single .cdbox {
	display: none;
}
.n-single .cdbg {
	border-radius: 1000px;
}
.n-single .sd .together-head {
	margin: 0;
	left: -20%;
	justify-content: left;
	top: 60px;
	left: 20px;
	position: fixed;
	z-index: 3;
	transition: opacity .2s ease !important;
}

.g-singlec-comment,
.g-singlec-comment-detail,
.g-singlec-comment-top { // comment area action buttons (post comment and back to top)
    font-size: 0;
    background: #00000022 !important;
    color: transparent;
    backdrop-filter: blur(36px);
    opacity: 0 !important;
    border: none !important;
    min-width: 36px;
    width: 36px;
	pointer-events: none !important;

	body.mq-playing-scroll & {
		pointer-events: auto !important;
		opacity: .8 !important;
		&:hover {
			opacity: 1 !important;
		}
	}
}
.g-singlec-comment-top {
    transform: translateX(148px) !important;
}
.g-singlec-comment-detail.z-show {
    padding: 0;
    left: unset;
    right: calc(26% - -6px - 148px);
	svg {
		margin: 0;
	}
}

body:not(.mq-playing), body.mq-playing-scroll {
	.sd {
		.together-head, .together-text {
			opacity: 0;
		}
	}
}
.n-single .sd {
	.together-head {
		.ear_left, .ear_right {
			display: none;
		}
		.wrap::after {
			display: none;
		}
		.face-1, .face-2 {
			width: 30px;
			height: 30px;
		}
		.face-2 {
			margin-left: 15px;
		}
	}
	.together-text {
		position: fixed;
		top: 82px;
		left: 104px;
		transform: none;
		text-align: left;
		z-index: 3;
		transition: opacity .2s ease !important;
	}
}
.n-single {
	> .wrap {
		max-width: max(80%, 1500px);
	}
}
.cnt.m-playlrc .word .text {
	overscroll-behavior: contain;
}
.m-playlrc .word .text .z-crt p {
	font-size: 1.3rem !important;
	color: var(--accent-color-shade-1);
}
.m-playlrc .word .j-line:not(.z-crt) p{
    font-size: 1.05rem;
}
.m-playlrc .j-line.J-line-matchedscroll {
	color: var(--accent-color-shade-2) !important;
}
.m-playlrc .word .text .z-crt p:not(:last-child) {
	margin-bottom: 10px !important;
}
.m-playlrc .word .text .z-crt p.translated {
	opacity: .8;
}
.m-playlrc .word .text p {
	transition: all .5s cubic-bezier(.5,0,.14,1);
	transition-delay: 0.2s;
}
.m-playlrc > article > .central-line-block:not(.invisible) + div .j-line p {
	transition-delay: 0s !important;
}
.m-playlrc .supplier, .m-playlrc .noword{
	opacity: 0;
	transition: opacity .5s ease !important;
	transition-delay: 0s !important;
}
.m-playlrc:hover .supplier, .m-playlrc:hover .noword{
	opacity: 1;
}
body.mq-playing .g-hd .m-leftbox {
	opacity: 0;
	transition: opacity .3s ease;
}
body.mq-playing .g-hd:hover .m-leftbox {
	opacity: 1;
}
body.mq-playing .g-hd .m-sch {
	display: none;
}
body.mq-playing-fullscreen .g-hd .m-leftbox {
	opacity: 1 !important;
}
body.mq-playing #main-player {
	background: transparent;
}
body.mq-playing:not(.mq-playing-scroll) #main-player,
body.mq-playing.partial-bg #main-player {
	border: none;
}
body.mq-playing .m-player .prg .has {
	background: rgba(var(--accent-color-shade-1-rgb), 0.8);
}
body.mq-playing .m-player .prg .ctrl::before,
body.mq-playing .m-player .prg .ctrl::after {
	background: var(--accent-color-shade-1);
}
body.mq-playing .m-player .prg-ply .ctrl {
	width: 8px;
	height: 8px;
	padding: 6px;
	opacity: 0;
	transform: scale(0.8);
	transition: opacity .2s ease, transform .2s ease;
}
body.mq-playing .m-player .prg-ply:hover .ctrl {
	opacity: 1;
	transform: scale(1);
}
body.mq-playing .m-player .prg-ply:hover .ctrl::before {
	transform: none;
}
body.mq-playing .m-player .prg-ply .ctrl::before {
	border-radius: 10px;
	transition: width .2s ease, transform .2s ease;
}
body.mq-playing .m-pinfo .zoom {
	display: none;
}
body.mq-playing .m-pinfo .btns {
	left: 16px;
}
body.mq-playing .m-pinfo .btn:not(.btn-love),
body.mq-playing #main-player > *:not(.f-cp, .prg, time),
body.mq-playing #main-player > .audioEffect,
body.mq-playing #main-player > .spk,
body.mq-playing #main-player > .listenTogether,
body.mq-playing #main-player > .list {
	opacity: 0;
	transition: opacity .3s ease, background .3s ease;
}
body.bottombar-hover .m-pinfo .btn:not(.btn-love),
body.bottombar-hover #main-player>*:not(.f-cp, .prg, time),
body.bottombar-hover #main-player>.audioEffect,
body.bottombar-hover #main-player>.spk,
body.bottombar-hover #main-player>.listenTogether,
body.bottombar-hover #main-player>.list,
body.mq-playing-scroll .m-pinfo .btn:not(.btn-love),
body.mq-playing-scroll #main-player>*:not(.f-cp, .prg, time),
body.mq-playing-scroll #main-player>.audioEffect,
body.mq-playing-scroll #main-player>.spk,
body.mq-playing-scroll #main-player>.listenTogether,
body.mq-playing-scroll #main-player>.list {
	opacity: 0.9999999; /* Tricky fix for incompatibility with other themes */
}
body.mq-playing .m-pinfo .btn-love {
	border-color: transparent;
	transition: border-color .3s ease, background-color .3s ease;
	position: relative;
}
body.bottombar-hover .btn-love,
body.mq-playing-scroll .btn-love {
	border-color: rgba(255, 255, 255, 0.1) !important;
}
body.mq-playing .m-pinfo .btn-love.loved:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--accent-color);
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='icon24_liked'%3E%3Cpath d='M15.2 4.5c3 0 5.3 2.6 5.3 5.8 0 2.6-1.3 4.9-3.9 7.1-.9.8-1.9 1.5-2.9 2.2l-.9.6c-.2.1-.3.2-.4.2-.3.1-.6.1-.8 0-.1 0-.2-.1-.4-.2l-.9-.6c-1-.7-2-1.4-2.9-2.2-2.6-2.2-3.9-4.5-3.9-7.1 0-3.2 2.4-5.8 5.3-5.8 1.2 0 2.3.4 3.2 1.1.9-.7 2-1.1 3.2-1.1z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: 24px;
	opacity: 1;
}
body.mq-playing .m-pinfo .btn-love.loved svg{
	display: none;
}
svg.labelVip.labelVip.labelVip {
	fill: transparent;
	opacity: 0;
	transition: opacity .3s ease;
}
.m-pinfo .btn:hover .labelVip {
	opacity: 1;
}
body.mq-playing .m-player .prg:not(:hover) .track {
    background-color: rgba(var(--accent-color-rgb), 0.1);
}
body.mq-playing .m-player .prg .track {
    background-color: rgba(var(--accent-color-shade-1-rgb), 0.25);
}
body.mq-playing .m-player .prg:not(:hover) .has {
    background: rgba(var(--accent-color-rgb), 0.53333);
}
body.mq-playing .m-player .prg:not(:hover) .download {
    background: rgba(var(--accent-color-rgb), 0.1);
}
body.mq-playing .m-player .prg:not(:hover) .ctrl::before, .m-player .prg .ctrl::after {
    background: var(--accent-color);
}
body.mq-playing .m-player .prg *{
	border-radius: 10px !important;
}
.m-player time.now {
	left: calc(50% - 227px);
}
.m-player time.all {
	right: calc(50% - 227px);
}
.m-player .prg-ply {
	left: calc(50% - 186px);
	right: calc(50% - 186px);
}
body.mq-playing .m-player .btnc svg,
body.mq-playing .m-player .btnp svg,
body.mq-playing .m-player .type svg,
body.mq-playing .m-player .word svg {
	opacity: .5;
	transition: opacity .3s ease, fill .2s ease;
}
body.mq-playing .m-player .type svg,
body.mq-playing .m-player .word svg {
    opacity: 0;
}
body.bottombar-hover .m-player .btnc svg,
body.bottombar-hover .m-player .btnp svg,
body.bottombar-hover .m-player .type svg,
body.bottombar-hover .m-player .word svg,
body.mq-playing-scroll .m-player .btnc svg,
body.mq-playing-scroll .m-player .btnp svg,
body.mq-playing-scroll .m-player .type svg,
body.mq-playing-scroll .m-player .word svg {
    opacity: 1;
}
body.mq-playing .m-player .btnp {
    transition: background-color .25s ease;
}
body.mq-playing .m-player .prg-spk {
    box-shadow: none;
    background: #00000015;
    backdrop-filter: blur(36px);
    border-radius: 100px;
}
body.mq-playing .m-player .prg-spk::before {
    display: none;
}
body.mq-playing .m-player .prg-spk::after {
    display: none;
}
body.mq-playing .m-player .prg-spk .track::before {
    background: rgba(var(--accent-color-rgb), 0.1);
}
body.mq-playing .m-player .prg-spk .has::before {
    background: var(--accent-color);
}
body.mq-playing .m-player .prg-spk .ctrl {
    background-color: var(--accent-color);
}
body.mq-playing .m-player .brt .brttext.vip {
    color: var(--accent-color);
    border-color: var(--accent-color);
}


body.mq-playing .m-playlist {
	background: #00000022;
	backdrop-filter: blur(36px) brightness(0.8);
	border-radius: 16px;
}
body.mq-playing .m-playlist li.z-play .col-2 .tit,
body.mq-playing .m-playlist li.z-pause .col-2 .tit,
body.mq-playing .m-playlist li.z-play .col-4 a,
body.mq-playing .m-playlist li.z-pause .col-4 a {
    color: var(--accent-color) !important;
}
body.mq-playing .m-playlist li::before,
body.mq-playing .m-playlist .ico-mv,
body.mq-playing .m-playlist .ico-sq,
body.mq-playing .u-micn-sq,
body.mq-playing .SpriteIcon_hires,
body.mq-playing .SpriteIcon_originalSong,
body.mq-playing .SpriteIcon_dolby {
    background: var(--accent-color);
    opacity: .5;
}
.g-single-track .g-singlec-ct .n-single .mn .lyric .cnt > div:first-child:not(.inf) {
	display: none;
}
.g-singlec-live {
	display: none;
}
body.mq-playing .m-player .word.z-light svg,
body.mq-playing .m-player .type:hover svg,
body.mq-playing .m-player .btnc-prv:hover svg,
body.mq-playing .m-player .btnc-nxt:hover svg,
body.mq-playing .m-player .word:hover svg {
    fill: var(--accent-color);
}

body.mq-playing .s-fc2,
body.mq-playing .s-fc2:hover {
    color: var(--accent-color);
}

body.mq-playing .s-fc2:hover {
    filter: brightness(1.1);
}
body.mq-playing .m-player .btnc svg,
body.mq-playing .m-player .btnp svg {
    fill: var(--accent-color-shade-2);
}





body.lyric-blur .m-playlrc .word .j-line:not(.z-crt) {
    filter: blur(4px);
}
body.lyric-blur .m-playlrc:hover .word .j-line:not(.z-crt),
body.lyric-blur .m-playlrc > article > .central-line-block:not(.invisible) + div .j-line:not(.z-crt) {
    filter: none;
}
body.lyric-blur .m-playlrc .word .j-line {
    transition: filter .5s ease;
    will-change: filter;
}





body.rectangle-cover .n-single .cdin,
body.rectangle-cover .n-single .cdimg {
    border-radius: 16px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 5%), 0 0px 20px rgb(0 0 0 / 6%);
}
body.rectangle-cover .n-single .cdwrap {
    animation: none;
}
body.rectangle-cover .n-single .cdwrap > * {
    -webkit-transform: translate3d(-50%, -50%, 0) !important;
}
body.rectangle-cover .n-single .cdbg {
    display: none;
}
body.rectangle-cover .g-single-track .g-singlec-ct .n-single .sd {
    width: clamp(200px, 20vw, 400px);
}



body.use-notosans .g-single-track .g-singlec-ct .n-single .mn .lyric,
body.use-notosans .n-single .head * {
    font-family: 'Source Han Sans CN', 'noto sans', '思源黑体' !important;
}


body.hide-comments .g-single-track .g-bd2 {
    display: none;
}
body.hide-comments .g-singlec-ct {
    overflow-y: hidden;
}



body.partial-bg #cd-bg-blur {
    left: 30px;
    top: 60px;
    width: calc(100% - 60px);
    height: calc(100% - 133px);
    border-radius: 16px;
	opacity: var(--bg-opacity, 1);
}
body.partial-bg #rnp-settings {
    right: 50px;
    top: 85px;
}
body.partial-bg #rnp-settings-menu {
    right: 50px;
    top: 120px;
}


body:not(.enable-accent-color) {
	--accent-color: #fff !important;
	--accent-color-rgb: 255, 255, 255 !important;
	--accent-color-shade-1: #fff !important;
	--accent-color-shade-1-rgb: 255, 255, 255 !important;
	--accent-color-shade-2: #fff !important;
	--accent-color-shade-2-rgb: 255, 255, 255 !important;
}
body.mq-playing:not(.enable-accent-color) .m-pinfo .btn-love.loved:before {
    background-color: #ec4141;
}
body:not(.enable-accent-color) #rnp-settings-menu {
	--accent-color: #ffffff55;
}




body.gradient-bg #cd-bg-blur {
	background-image: var(--gradient-bg) !important;
	background-size: 400% 400%;
	background-position: 50% 50%;
}
body.gradient-bg #cd-bg-blur::after {
	filter: none !important;
}
body.gradient-bg.gradient-bg-dynamic #cd-bg-blur {
	animation: bg-gradient-animation 120s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
}
@keyframes bg-gradient-animation {
	0% {
		background-position: 0% 0%
	}
	25% {
		background-position: 100% 0%
	}
	50% {
		background-position: 100% 100%
	}
	75% {
		background-position: 0% 100%
	}
	100% {
		background-position: 0% 0%
	}
}


body:not(.lyric-break-word) .m-playlrc .word .text .z-crt p {
    word-break: break-all;
}